@use "../abstracts" as style;

.rangePlayer {
  width: 100%;
  // background-color: red;
  .rangeBackground {
    min-width: 100%;
    background-color: #797878;
    height: 5px;
    cursor: pointer;
    border-radius: 15px;
    div {
      width: 0%;
      background-color: red;
      height: 100%;
      border-radius: 15px;
    }
  }
}
.containerPlayer {
  @include style.flexCenter;
  margin-top: 20px;
  .back,
  .skip,
  .play {
    font-size: 25px;
    margin: 0px 10px;
    cursor: pointer;
  }
  .play {
    font-size: 40px;
  }
}
