@use "../abstracts" as style;

.containerMusic {
  background-image: linear-gradient(
    175deg,
    hsl(270deg 100% 7%) 0%,
    hsl(249deg 100% 18%) 1%,
    hsl(229deg 100% 29%) 5%,
    hsl(208deg 100% 40%) 17%,
    hsl(187deg 100% 51%) 50%,
    hsl(166deg 100% 62%) 83%,
    hsl(145deg 100% 73%) 95%,
    hsl(124deg 100% 84%) 99%,
    hsl(104deg 100% 95%) 100%
  );
  padding: 20px 20px 50px 20px;
  border-radius: 26px;
  img {
    border-radius: 12px;
  }
}

.rangePlayer {
  width: 100%;
  .rangeBackground {
    min-width: 100%;
    background-color: #797878;
    height: 5px;
    cursor: pointer;
    border-radius: 15px;
    div {
      width: 0%;
      background-image: linear-gradient(
        10deg,
        hsl(315deg 73% 10%) 0%,
        hsl(351deg 57% 22%) 5%,
        hsl(1deg 57% 29%) 16%,
        hsl(6deg 65% 33%) 27%,
        hsl(9deg 70% 36%) 37%,
        hsl(11deg 74% 39%) 46%,
        hsl(12deg 78% 42%) 54%,
        hsl(13deg 82% 44%) 62%,
        hsl(14deg 85% 46%) 68%,
        hsl(15deg 88% 48%) 73%,
        hsl(16deg 92% 50%) 78%,
        hsl(17deg 95% 53%) 83%,
        hsl(21deg 95% 57%) 86%,
        hsl(24deg 96% 59%) 89%,
        hsl(27deg 96% 61%) 92%,
        hsl(31deg 96% 62%) 94%,
        hsl(34deg 97% 64%) 96%,
        hsl(37deg 97% 65%) 98%,
        hsl(40deg 98% 67%) 99%,
        hsl(44deg 99% 68%) 99%,
        hsl(47deg 99% 69%) 100%,
        hsl(50deg 100% 70%) 100%
      );
      height: 100%;
      border-radius: 15px;
    }
  }
  .musicTime {
    display: flex;
    justify-content: space-between;
  }
}
.containerPlayer {
  @include style.flexCenter;
  margin-top: 20px;

  .back,
  .skip,
  .play {
    font-size: 25px;
    margin: 0px 10px;
    cursor: pointer;
  }
  .play {
    font-size: 40px;
  }
  .sound {
    font-size: 20px;
    transform: translate(-45px, 0px);
    cursor: pointer;
  }

  .labelRepeat {
    cursor: pointer;
    input {
      display: none;
    }
    .repeat {
      font-size: 18px;
      margin-top: 2px;
      transform: translate(35px, 1px);
    }
  }
}
