@use "components/player";

body{
  background-image: linear-gradient(
    10deg,
    hsl(315deg 73% 10%) 2%,
    hsl(351deg 57% 22%) 46%,
    hsl(1deg 57% 29%) 60%,
    hsl(6deg 65% 33%) 69%,
    hsl(9deg 70% 36%) 75%,
    hsl(11deg 74% 39%) 80%,
    hsl(12deg 78% 42%) 84%,
    hsl(13deg 82% 44%) 87%,
    hsl(14deg 85% 46%) 90%,
    hsl(15deg 88% 48%) 92%,
    hsl(16deg 92% 50%) 93%,
    hsl(17deg 95% 53%) 95%,
    hsl(21deg 95% 57%) 96%,
    hsl(24deg 96% 59%) 97%,
    hsl(27deg 96% 61%) 98%,
    hsl(31deg 96% 62%) 98%,
    hsl(34deg 97% 64%) 99%,
    hsl(37deg 97% 65%) 99%,
    hsl(40deg 98% 67%) 100%,
    hsl(44deg 99% 68%) 100%,
    hsl(47deg 99% 69%) 100%,
    hsl(50deg 100% 70%) 100%
  );
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
