@use "components/player";

body{
  background-image: linear-gradient(
    25deg,
    hsl(270deg 100% 7%) 9%,
    hsl(183deg 3% 29%) 50%,
    hsl(129deg 3% 41%) 50%,
    hsl(115deg 4% 50%) 51%,
    hsl(111deg 6% 58%) 54%,
    hsl(108deg 8% 64%) 58%,
    hsl(107deg 12% 70%) 63%,
    hsl(106deg 16% 76%) 69%,
    hsl(105deg 22% 81%) 75%,
    hsl(105deg 32% 86%) 83%,
    hsl(104deg 51% 91%) 91%,
    hsl(104deg 100% 95%) 100%
  );
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
